// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-white-lilac: #f7f7fe;
$color-storm-grey: #6e728e;
$color-storm-grey-50-percent: rgba(110, 114, 142, 0.5);
$color-storm-grey-25-percent: rgba(110, 114, 142, 0.25);
$color-slider: linear-gradient(225deg, #a2a7f0, #696edd);
$color-slider-hover: linear-gradient(66.8deg, #a2a7f0 0%, #696edd 100%);
$color-white: #fff;
$color-white-25-percent: rgba(255, 255, 255, 0.25);
$color-white-50-percent: rgba(255, 255, 255, 0.5);
$color-mulled-wine: #4a4d60;
$color-btn-basic: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
$color-professional: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
$color-moody-blue: #6d72de;

// ********** FONT-FAMILY **********
$font-montserrat: "Montserrat", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-700: 700;
