*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #f7f7fe;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-bottom: 7.1rem;
  position: relative;
  overflow: hidden;
}
.app::before {
  content: "";
  display: block;
  width: 37.5rem;
  height: 65.8rem;
  background-image: url("/public/bg-top.svg");
  position: absolute;
  top: -3.5rem;
  right: -19.5rem;
  z-index: -1;
}

.subscription-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 6.4rem;
}
.subscription-plan__header {
  color: #6e728e;
  font-size: 3.2rem;
}
.subscription-plan__types {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.subscription-plan__type {
  color: rgba(110, 114, 142, 0.5);
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.subscription-plan__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.subscription-plan__checkbox:checked + .subscription-plan__slider::before {
  transform: translateX(-2.3rem);
}
.subscription-plan__slider {
  display: inline-block;
  width: 5.6rem;
  height: 3.2rem;
  background: linear-gradient(225deg, #a2a7f0, #696edd);
  border-radius: 1.6rem;
  position: relative;
}
.subscription-plan__slider::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 2.4rem;
  background: #fff;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  transition: 0.3s;
}

.pricing-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.25rem;
  padding: 0 2.4rem;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  max-width: 32.7rem;
  width: 100%;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2rem 4rem 0 rgba(212, 210, 244, 0.5);
  list-style: none;
  padding: 3.1rem 2.9rem;
}
.pricing-plan__type-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.pricing-plan__type {
  color: #6e728e;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.pricing-plan__price {
  color: #4a4d60;
  font-size: 7.2rem;
  line-height: 7.1rem;
  letter-spacing: -0.216rem;
}
.pricing-plan__features {
  list-style: none;
  border-top: 0.1rem solid rgba(110, 114, 142, 0.25);
  padding-top: 1.2rem;
  text-align: center;
}
.pricing-plan__features .pricing-plan__feature:not(:first-child) {
  padding-top: 1.2rem;
}
.pricing-plan__feature {
  color: #6e728e;
  font-size: 1.5rem;
  line-height: 2.8rem;
  border-bottom: 0.1rem solid rgba(110, 114, 142, 0.25);
  padding-bottom: 1.2rem;
}
.pricing-plan__btn {
  border: none;
  height: 4.4rem;
  border-radius: 0.6rem;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1393rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 23.375em) {
  .pricing-plan__price {
    font-size: 5.6rem;
  }
}
.professional-plan {
  background: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
}
.professional-plan__color {
  color: #fff;
}
.professional-plan__features {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.25);
}
.professional-plan__feature {
  color: #fff;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
}
.professional-plan__btn {
  background: #fff;
  color: #6d72de;
}/*# sourceMappingURL=main.css.map */