// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-white-lilac: #f7f7fe;
$color-storm-grey: #6e728e;
$color-storm-grey-50-percent: rgba(110, 114, 142, 0.5);
$color-storm-grey-25-percent: rgba(110, 114, 142, 0.25);
$color-slider: linear-gradient(225deg, #a2a7f0, #696edd);
$color-slider-hover: linear-gradient(66.8deg, #a2a7f0 0%, #696edd 100%);
$color-white: #fff;
$color-white-25-percent: rgba(255, 255, 255, 0.25);
$color-white-50-percent: rgba(255, 255, 255, 0.5);
$color-mulled-wine: #4a4d60;
$color-btn-basic: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
$color-professional: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
$color-moody-blue: #6d72de;

// ********** FONT-FAMILY **********
$font-montserrat: "Montserrat", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-700: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-white-lilac;
  font-family: $font-montserrat;
  font-weight: $fw-700;
}

html,
body {
  height: 100%;
}

.app {
  min-height: 100vh;
}

// ******** MOBILE LAYOUTS ********

// ********* 375px LAYOUT *********
.app {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-bottom: 7.1rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 37.5rem;
    height: 65.8rem;
    background-image: url("/public/bg-top.svg");
    position: absolute;
    top: -3.5rem;
    right: -19.5rem;
    z-index: -1;
  }
}

// ******* SUBSCRIPTION-PLAN *******
.subscription-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 6.4rem;

  &__header {
    color: $color-storm-grey;
    font-size: 3.2rem;
  }

  &__types {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__type {
    color: $color-storm-grey-50-percent;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .subscription-plan__slider::before {
      transform: translateX(-2.3rem);
    }
  }

  &__slider {
    display: inline-block;
    width: 5.6rem;
    height: 3.2rem;
    background: $color-slider;
    border-radius: 1.6rem;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 2.4rem;
      background: $color-white;
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-white;
      opacity: 0;
      border-radius: 1.6rem;
      transition: opacity 0.3s;
    }
  }
}

// ********* PRICING-PLAN *********
.pricing-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.25rem;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: clamp(27.2rem, calc(27.2rem + (55 * ((100vw - 32rem) / 55))), 32.7rem);
  border-radius: 1rem;
  background: $color-white;
  box-shadow: 0 2rem 4rem 0 rgba(212, 210, 244, 0.5);
  list-style: none;
  padding: 3.1rem 2.9rem;

  &__type-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  &__type {
    color: $color-storm-grey;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__price {
    color: $color-mulled-wine;
    font-size: clamp(
      5.6rem,
      calc(5.6rem + (16 * ((100vw - 32rem) / 55))),
      7.2rem
    );
    line-height: 7.1rem;
    letter-spacing: -0.216rem;
  }

  &__features {
    list-style: none;
    border-top: 0.1rem solid $color-storm-grey-25-percent;
    padding-top: 1.2rem;
    text-align: center;

    .pricing-plan__feature:not(:first-child) {
      padding-top: 1.2rem;
    }
  }

  &__feature {
    color: $color-storm-grey;
    font-size: 1.5rem;
    line-height: 2.8rem;
    border-bottom: 0.1rem solid $color-storm-grey-25-percent;
    padding-bottom: 1.2rem;
  }

  &__btn {
    border: none;
    height: 4.4rem;
    border-radius: 0.6rem;
    background: $color-btn-basic;
    color: $color-white;
    font-family: $font-montserrat;
    font-size: 1.3rem;
    letter-spacing: 0.1393rem;
    text-transform: uppercase;
  }
}

// ********* TABLET LAYOUT *********

// ********** 768px LAYOUT **********
@media only screen and (min-width: 48em) {
  .app {
    &::before {
      right: 0;
    }
  }
}

// ******** DESKTOP LAYOUTS ********

// ********* 1150px LAYOUT *********
@media only screen and (min-width: 71.875em) {
  .app {
    gap: 6.45rem;
    padding-bottom: 10.35rem;

    &::before {
      top: 0;
      right: -12rem;
    }

    &::after {
      content: "";
      display: block;
      width: 35.3rem;
      height: 30.4rem;
      background-image: url("/public/bg-bottom.svg");
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }

  // ********* PRICING-PLAN *********
  .pricing-plans {
    flex-direction: row;
    justify-content: center;
    gap: initial;

    .pricing-plan:nth-child(2) {
      padding: 5.45rem 3.1rem;
    }
  }

  .pricing-plan {
    padding: 3.1rem;
    width: clamp(
      32.7rem,
      calc(32.7rem + (350 - 327) * ((100vw - 115rem) / (1440 - 1150))),
      35rem
    );
  }
}

// ********* 1440px LAYOUT *********
@media only screen and (min-width: 90em) {
  .app {
    &::before {
      right: 0;
    }
  }
}

// ****** DESKTOP HOVER STATES ******

// ******* 992px MEDIA QUERY *******
@media only screen and (min-width: 62em) {
  // ****** SUBSCRIPTION-PLAN ******
  .subscription-plan {
    &__slider:hover::after {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  // ********* PRICING-PLAN *********
  .pricing-plans {
    .pricing-plan:nth-child(2) {
      .pricing-plan__btn:hover {
        background: transparent;
        color: $color-white;
        border: 0.1rem solid $color-white;
      }
    }
  }

  .pricing-plan {
    &__btn:hover {
      cursor: pointer;
      background: $color-white;
      color: $color-moody-blue;
      border: 0.1rem solid $color-moody-blue;
    }
  }
}

// * CLASSES USED WITH JAVASCRIPT *
.professional-plan {
  background: $color-professional;

  &__color {
    color: $color-white;
  }

  &__features {
    border-top: 0.1rem solid $color-white-25-percent;
  }

  &__feature {
    color: $color-white;
    border-bottom: 0.1rem solid $color-white-25-percent;
  }

  &__btn {
    background: $color-white;
    color: $color-moody-blue;
  }
}
